In [1]:
x = 42
type(x)

int

In [2]:
print(x)

42

In [3]:
1 + 2 + 3   # add

6

In [4]:
2 * 12.5   # multiply

25.0

In [5]:
2 ** 5  # exponent

32

In [6]:
10 / 5 # division

2.0

In [7]:
x = 2
type(x)

int

In [8]:
y = x / x

type(y)

float

In [9]:
25 // 2  # "floor division" - always rounds down

12

In [10]:
int(101 / 2)

50

In [11]:
25 % 2  # the remainder when 25 is divided by 2

1

In [12]:
x = None

In [13]:
print(x)

None

In [14]:
type(x)

NoneType

In [15]:
course = "PHPE 409"
type(course)

str

In [16]:
course_name = 'PHPE'
course_num = 409

print(f"{course_name} {course_num}")

PHPE 409

In [17]:
'Hello' + ' ' + 'World'

'Hello World'

In [18]:
course_name + ' ' + course_num # produces an error

TypeError: can only concatenate str (not "int") to str

In [19]:
course_name + ' ' + str(course_num) # convert course_num to a string

'PHPE 409'

In [20]:
the_truth = True

In [21]:
the_truth

True

In [22]:
type(the_truth)

bool

In [23]:
lies = False

In [24]:
lies

False

In [25]:
type(lies)

bool

In [26]:
2 < 3

True

In [27]:
"Deep learning" == "Solve all the world's problems"

False

In [28]:
2 != "2"

True

In [29]:
2 is 2

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-29-8e1e1a168e96>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  2 is 2

True

In [30]:
2 == 2.0

True

In [31]:
True and True

True

In [32]:
True and False

False

In [33]:
True or False

True

In [34]:
False or False

False

In [35]:
("Python 2" != "Python 3") and (2 <= 3)

True

In [36]:
True

True

In [37]:
not True

False

In [38]:
not not True

True

In [39]:
print(f"Bit representation of the number 5: {5:0b}")
print(f"Bit representation of the number 4: {4:0b}")
print(f"                                    ↓↓↓")
print(f"                                    {5 & 4:0b}")
print(f"                                     ↓ ")
print(f"                                     {5 & 4}")

Bit representation of the number 5: 101
Bit representation of the number 4: 100
                                    ↓↓↓
                                    100
                                     ↓
                                     4

In [40]:
x = 5.0
type(x)

float

In [41]:
x = int(5.0)
x

5

In [42]:
type(x)

int

In [43]:
x = str(5.0)
x

'5.0'

In [44]:
type(x)

str

In [45]:
str(5.0) == 5.0

False

In [46]:
int(5.3)

5

In [47]:
float("hello")

ValueError: could not convert string to float: 'hello'

In [48]:
my_list = [1, 2, "THREE", 4, 0.5]

In [49]:
my_list

[1, 2, 'THREE', 4, 0.5]

In [50]:
type(my_list)

list

In [51]:
another_list = [1, "two", [3, 4, "five"], True, None, {"key": "value"}]
another_list

[1, 'two', [3, 4, 'five'], True, None, {'key': 'value'}]

In [52]:
len(my_list)

5

In [53]:
today = (1, 2, "THREE", 4, 0.5)

In [54]:
today

(1, 2, 'THREE', 4, 0.5)

In [55]:
type(today)

tuple

In [56]:
len(today)

5

In [57]:
my_list

[1, 2, 'THREE', 4, 0.5]

In [58]:
my_list[0]

1

In [59]:
my_list[2]

'THREE'

In [60]:
len(my_list)

5

In [61]:
my_list[5]

IndexError: list index out of range

In [62]:
my_list

[1, 2, 'THREE', 4, 0.5]

In [63]:
my_list[-1]

0.5

In [64]:
my_list[-2]

4

In [65]:
my_list[1:3]

[2, 'THREE']

In [66]:
alphabet = "abcdefghijklmnopqrstuvwxyz"

In [67]:
alphabet[0]

'a'

In [68]:
alphabet[-1]

'z'

In [69]:
alphabet[-3]

'x'

In [70]:
alphabet[:5]

'abcde'

In [71]:
alphabet[12:20]

'mnopqrst'

In [72]:
primes = [2, 3, 5, 7, 11]
primes

[2, 3, 5, 7, 11]

In [73]:
len(primes)

5

In [74]:
primes.append(13)

In [75]:
primes

[2, 3, 5, 7, 11, 13]

In [76]:
s = {2, 3, 5, 11}
s

{2, 3, 5, 11}

In [77]:
{1, 2, 3} == {3, 2, 1}

True

In [78]:
[1, 2, 3] == [3, 2, 1]

False

In [79]:
s.add(2)  # does nothing
s

{2, 3, 5, 11}

In [80]:
s[0]

TypeError: 'set' object is not subscriptable

In [81]:
names_list = ["Indiana", "Fang", "Linsey"]
names_list

['Indiana', 'Fang', 'Linsey']

In [82]:
names_list[0] = "Cool guy"
names_list

['Cool guy', 'Fang', 'Linsey']

In [83]:
names_tuple = ("Indiana", "Fang", "Linsey")
names_tuple

('Indiana', 'Fang', 'Linsey')

In [84]:
names_tuple[0] = "Not cool guy"

TypeError: 'tuple' object does not support item assignment

In [85]:
my_name = "Tom"

In [86]:
my_name[-1] = "q"

TypeError: 'str' object does not support item assignment

In [87]:
x = ([1, 2, 3], 5)

In [88]:
x[1] = 7

TypeError: 'tuple' object does not support item assignment

In [89]:
x

([1, 2, 3], 5)

In [90]:
x[0][1] = 4

In [91]:
x

([1, 4, 3], 5)

In [92]:
all_caps = "HOW ARE YOU TODAY?"
all_caps

'HOW ARE YOU TODAY?'

In [93]:
new_str = all_caps.lower()
new_str

'how are you today?'

In [94]:
all_caps

'HOW ARE YOU TODAY?'

In [95]:
all_caps.split()

['HOW', 'ARE', 'YOU', 'TODAY?']

In [96]:
all_caps.count("O")

3

In [97]:
caps_list = list(all_caps)
caps_list

['H',
 'O',
 'W',
 ' ',
 'A',
 'R',
 'E',
 ' ',
 'Y',
 'O',
 'U',
 ' ',
 'T',
 'O',
 'D',
 'A',
 'Y',
 '?']

In [98]:
"".join(caps_list)

'HOW ARE YOU TODAY?'

In [99]:
"-".join(caps_list)

'H-O-W- -A-R-E- -Y-O-U- -T-O-D-A-Y-?'

In [100]:
"".join(caps_list).lower().split(" ")

['how', 'are', 'you', 'today?']

In [101]:
name = "Newborn Baby"
age = 4 / 12
day = 10
month = 6
year = 2020
template_new = f"Hello, my name is {name}. I am {age:.2f} years old. I was born {day}/{month:02}/{year}."
template_new

'Hello, my name is Newborn Baby. I am 0.33 years old. I was born 10/06/2020.'

In [102]:
house = {
    "bedrooms": 3,
    "bathrooms": 2,
    "city": "Vancouver",
    "price": 2499999,
    "date_sold": (1, 3, 2015),
}

condo = {
    "bedrooms": 2,
    "bathrooms": 1,
    "city": "Burnaby",
    "price": 699999,
    "date_sold": (27, 8, 2011),
}

In [103]:
house["price"]

2499999

In [104]:
condo["city"]

'Burnaby'

In [105]:
condo["price"] = 5  # price already in the dict
condo

{'bedrooms': 2,
 'bathrooms': 1,
 'city': 'Burnaby',
 'price': 5,
 'date_sold': (27, 8, 2011)}

In [106]:
condo["flooring"] = "wood"

In [107]:
condo

{'bedrooms': 2,
 'bathrooms': 1,
 'city': 'Burnaby',
 'price': 5,
 'date_sold': (27, 8, 2011),
 'flooring': 'wood'}

In [108]:
del condo["city"]

In [109]:
condo

{'bedrooms': 2,
 'bathrooms': 1,
 'price': 5,
 'date_sold': (27, 8, 2011),
 'flooring': 'wood'}

In [110]:
condo[5] = 443345

In [111]:
condo

{'bedrooms': 2,
 'bathrooms': 1,
 'price': 5,
 'date_sold': (27, 8, 2011),
 'flooring': 'wood',
 5: 443345}

In [112]:
condo[(1, 2, 3)] = 777
condo

{'bedrooms': 2,
 'bathrooms': 1,
 'price': 5,
 'date_sold': (27, 8, 2011),
 'flooring': 'wood',
 5: 443345,
 (1, 2, 3): 777}

In [113]:
condo["not-here"]

KeyError: 'not-here'

In [114]:
lst = list()  # empty list
lst

[]

In [115]:
lst = []  # empty list
lst

[]

In [116]:
tup = tuple()  # empty tuple
tup

()

In [117]:
tup = ()  # empty tuple
tup

()

In [118]:
dic = dict()  # empty dict
dic

{}

In [119]:
dic = {}  # empty dict
dic

{}

In [120]:
st = set()  # empty set
st

set()

In [121]:
name = "Tom"

if name.lower() == "tom":
    print("That's my name too!")
elif name.lower() == "santa":
    print("That's a funny name.")
else:
    print(f"Hello {name}! That's a cool name!")
print("Nice to meet you!")

That's my name too!
Nice to meet you!

In [122]:
name = "Super Tom"

if name.lower() == "tom":
    print("That's my name too!")
elif name.lower() == "santa":
    print("That's a funny name.")
else:
    print(f"Hello {name}! That's a cool name.")
    if name.lower().startswith("super"):
        print("Do you really have superpowers?")

print("Nice to meet you!")

Hello Super Tom! That's a cool name.
Do you really have superpowers?
Nice to meet you!

In [123]:
words = ["the", "list", "of", "words"]

x = "long list" if len(words) > 10 else "short list"
x

'short list'

In [124]:
if len(words) > 10:
    x = "long list"
else:
    x = "short list"

In [125]:
x

'short list'

In [126]:
x = 1

if x:
    print("I'm truthy!")
else:
    print("I'm falsey!")

I'm truthy!

In [127]:
x = False

if x:
    print("I'm truthy!")
else:
    print("I'm falsey!")

I'm falsey!

In [128]:
x = []

if x:
    print("I'm truthy!")
else:
    print("I'm falsey!")

I'm falsey!

In [129]:
fake_variable  # not defined

NameError: name 'fake_variable' is not defined

In [130]:
True or fake_variable

True

In [131]:
True and fake_variable

NameError: name 'fake_variable' is not defined

In [132]:
False and fake_variable

False