In [1]:
x = 42
type(x)

int

In [2]:
print(x)

42

In [3]:
1 + 2 + 3   # add

6

In [4]:
2 * 12.5   # multiply

25.0

In [5]:
2 ** 5  # exponent

32

In [6]:
10 / 5 # division

2.0

In [7]:
x = 2
type(x)

int

In [8]:
y = x / x

type(y)

float

In [9]:
25 // 2  # "floor division" - always rounds down

12

In [10]:
type(25 // 2)

int

In [11]:
25 % 2  # the remainder when 25 is divided by 2

1

In [12]:
x = None

In [13]:
print(x)

None

In [14]:
type(x)

NoneType

In [15]:
course = "PHPE 409"
type(course)

str

In [16]:
course_name = 'PHPE'
course_num = 409

print(f"{course_name} {course_num}")

PHPE 409

In [17]:
'Hello' + ' ' + 'World'

'Hello World'

In [18]:
course_name + ' ' + course_num # produces an error

TypeError: can only concatenate str (not "int") to str

In [19]:
course_name + ' ' + str(course_num) # convert course_num to a string

'PHPE 409'

In [20]:
t = True

In [21]:
t

True

In [22]:
type(t)

bool

In [23]:
f = False

In [24]:
f

False

In [25]:
type(f)

bool

In [26]:
1 < 2

True

In [27]:
2 != "2"

True

In [28]:
x= 2
y = 4 / 2
x == y # the values of x and y are the same

True

In [29]:
x is y # but x and y are not the same object (x is an int and y is a float)

False

In [30]:
True and True

True

In [31]:
True and False

False

In [32]:
True or False

True

In [33]:
False or False

False

In [34]:
not True

False

In [35]:
not False

True

In [36]:
list_example = [1, 2.0, 'three']

In [37]:
list_example

[1, 2.0, 'three']

In [38]:
type(list_example)

list

In [39]:
list_example2 = [1, 2.0,  [3, 4], None, True]
list_example2

[1, 2.0, [3, 4], None, True]

In [40]:
list_example2[0] # first element

1

In [41]:
list_example2[2] # 3rd element

[3, 4]

In [42]:
list_example2[-1] # the last element (same as list_example[4])

True

In [43]:
list_example2[1:3] # return item 1 and 2

[2.0, [3, 4]]

In [44]:
a_list = [1,2,3] # a list
a_tuple = (1,2,3) # a list

In [45]:
print(f"The 2nd element of a_list is {a_list[1]}")

a_list[1] = "new value"

print(f"The 2nd element of a_list is now {a_tuple[1]}")

The 2nd element of a_list is 2
The 2nd element of a_list is now 2

In [46]:
a_tuple[1] = "new value" # produces an error

TypeError: 'tuple' object does not support item assignment

In [47]:
a_list = ['this', 'is', 'a', 'list']

len(a_list)

4

In [48]:
a_list.append("of strings")
a_list

['this', 'is', 'a', 'list', 'of strings']

In [49]:
"_".join(a_list) # join the elements of a list

'this_is_a_list_of strings'

In [50]:
s = {2, 3, 5, 11, 11} # sets are defined using curly braces
s

{2, 3, 5, 11}

In [51]:
{1, 2, 3} == {3, 2, 1, 1}

True

In [52]:
[1, 2, 3] == [3, 2, 1]

False

In [53]:
a_list = [1, 1, 2, 3, 4, 5, 5, 6, 7, 7, 7]

list(set(a_list)) # remove multiple copies of elements

[1, 2, 3, 4, 5, 6, 7]

In [54]:
agent = {
    "name": "Eric",
    "id": 1234,
    "some_attribute": (1, 2, 3),
}

In [55]:
agent["name"]

'Eric'

In [56]:
agent["some_attribute"]

(1, 2, 3)

In [57]:
agent["some_attribute"] = 42
agent

{'name': 'Eric', 'id': 1234, 'some_attribute': 42}

In [58]:
agent['another_attribute'] = 1.0

In [59]:
agent

{'name': 'Eric', 'id': 1234, 'some_attribute': 42, 'another_attribute': 1.0}

In [60]:
agent[(1, 2, 3)] = True
agent

{'name': 'Eric',
 'id': 1234,
 'some_attribute': 42,
 'another_attribute': 1.0,
 (1, 2, 3): True}

In [61]:
agent["not-here"] # produces error

KeyError: 'not-here'

In [62]:
agent.keys() # the keys of the dictionary

dict_keys(['name', 'id', 'some_attribute', 'another_attribute', (1, 2, 3)])

In [63]:
agent.values() # the values of the dictionary

dict_values(['Eric', 1234, 42, 1.0, True])

In [64]:
agent.items() # the key,value pairs of the dictionary

dict_items([('name', 'Eric'), ('id', 1234), ('some_attribute', 42), ('another_attribute', 1.0), ((1, 2, 3), True)])

In [65]:
x = 5

if x > 10: 
    print("greater than 10")
elif x <= 10 and x > 5: 
    print("between 5 and 10")
elif x > 0 and x <= 5:
    print("between 0 and 5")
else:
    print("smaller than or equal to 0")

between 0 and 5

In [66]:
x = 100

if x > 10: 
    print("greater than 10")
elif x <= 10 and x > 5: 
    print("between 5 and 10")
elif x > 0 and x <= 5:
    print("between 0 and 5")
else:
    print("smaller than or equal to 0")

greater than 10

In [67]:
x = -1

if x > 10: 
    print("greater than 10")
elif x <= 10 and x > 5: 
    print("between 5 and 10")
elif x > 0 and x <= 5:
    print("between 0 and 5")
else:
    print("smaller than or equal to 0")

smaller than or equal to 0

In [68]:
my_list  = [0, 1, 2, 3, 4]

x = "more than 4 elements" if len(my_list) > 4 else "less than or equal to 4 elements"
x

'more than 4 elements'

In [69]:
if len(my_list) > 4:
    x = "more than 4 elements"
else:
    x = "less than or equal to 4 elements"

In [70]:
x

'more than 4 elements'

In [71]:
x = 4 
if x in my_list: 
    print(f"{x} is in my_list")
else: 
    print(f"{x} is not in my_list")
     
x = 6
if x in my_list: 
    print(f"{x} is in my_list")
else: 
    print(f"{x} is not in my_list")

4 is in my_list
6 is not in my_list

In [72]:
my_dict = {"key1": "val1", "key2": False, "key3": 3}

In [73]:
k = "key3"
val = my_dict[k] if  k in my_dict.keys() else None
if val is not None: 
    print(f"val is {val}")
else: 
    print(f"{k} is not a key in my_dict")

val is 3

In [74]:

k = "key4"
val = my_dict[k] if  k in my_dict.keys() else None

if val is not None: 
    print(f"val is {val}")
else: 
    print(f"{k} is not a key in my_dict")

key4 is not a key in my_dict